<% @all_events.each do |event| %>
<li><b>user_id:</b> <%= event.user_id %></li>
<li><b>start:</b> <%= event.start %></li>
<li><b>end:</b> <%= event.end %></li>
<li><b>creator:</b> <%= event.creator %></li>
<li><b>created:</b> <%= event.created %></li>
<li><b>summary:</b> <%= event.summary %></li>
<li><b>response:</b> <%= event.response %></li>
<li><b>repeating:</b> <%= event.repeating %></li>
<li><b>etag:</b> <%= event.etag %></li>
<li><b>url:</b> <%= event.url %></li>
<li><b>uid:</b> <%= event.uid %></li>
<hr>
<% end %>

<hr>
<hr>
<hr>

<% @all_attendees.each do |attendee| %>
<li><b>email: </b><%= attendee.email %>
<% end %>

api/calendars/ index