<!DOCTYPE html>
<html>
  <head>
    <title>Focus</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
    <p><%= link_to "Sign in", user_google_oauth2_omniauth_authorize_path %></p>
    <p><%= link_to "Sign out", destroy_user_session_path, method: 'delete' %></p>
    <p><%= link_to "Calendars", '/api/calendars', method: 'get' %></p>
    <% if current_user.presence %>
      <p><%= p current_user.id %></p>
      <p><%= p current_user.first_name %></p>
      <p><%= p current_user.last_name %></p>
    <% end %> 
  </body>
</html>
